iframe {
  width: 200px;
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border:5px solid black;
  background-color: black;
}
/*Things tried to get rid of the bottom 1px line in Safari*/
/*iframe {
  width: 200px;
  height: 200px;
  margin: -20;
  padding: -20;
  overflow: hidden;
  border:5px solid black;
  display:block;
  line-height: 0;
  background-color: coral;
}*/

/*https://www.w3schools.com/css/css_grid.asp*/
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1220px;
  height: 810px;
  gap: 10px;
  /*column-gap: 10px;
  row-gap: 10px;
  gap: 10px;*/
}
